<a name="whatisama"></a>
<div class="jumbotron">
  <h3 style="text-shadow: 0 0 24px rgba(0,0,0,.64);">
    什么是AMA？
  </h3>
  <br>
  <h4>
    AMA是Ask me anything的简写，起源于reddit。
    <br><br>是一种针对某人或者某个话题进行提问和回答的互动方式。
    <br><br>每一个AMA都会邀请一个题主，他会回答您提出的任何问题。
  </h4>
</div>
