<%= form_for(Admin.new, as: "admin", url: session_path("admin")) do |f| %>
  <h2 class="text-center">管理员登录</h2>
  <br>
  <%= f.email_field :email, autofocus: true, :class => "form-control input-lg", :placeholder => "邮箱" %><br>

  <%= f.password_field :password, autocomplete: "off", :class => "form-control input-lg", :placeholder => "密码" %>
  <br>
  <%= f.submit "登录", :class => "btn btn-default btn-lg btn-block btn-primary" %>
<% end %>
