<!DOCTYPE html>
<html lang="en">
  <%= render "/shared/head" %>
  <body>
    <%= yield %>
    <!-- <%= bootstrap_flash %> -->
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
